
.block_login {
	position: absolute;
  left: 5px;
	width: 240px;
	height: 40px;
	text-shadow:1px 1px 2px black;
	color: rgb(124, 252, 0);
}

.add {
	position: relative;
	padding: 10px;
	margin: 10px auto;
	background-color: rgba(238, 229, 222, 0.5);
	width: 850px;
	border-radius: 20px;
}


.block1 {
	margin: 0px auto;
	background-size: 100%;
	background-repeat:no-repeat;
	background-image: url(1.jpg);
	border-radius: 30px 30px 0px 0px;
	width: 900px;
	height: 220px;
	opacity: 0.9;
	border: 2px solid #363636;
	border-bottom-width: 0px;

}

.pager {
	margin: 0px auto;
	background-color:rgba(105, 105, 105, 0.8);
	width: 900px;
	opacity: 0.9;
}

.go_add {
	padding-left: 400px;
	background-color: rgba(211, 211, 211, 0.3);
	width: 500px;
}

body {
	padding-top: 10px;
	font-family: Buxton Sketch;
	background-image: url(2.png);
}
.all_news {
	border: 2px solid #363636;
	border-top-width: 0px;
	margin: 0px auto;
	width: 900px;
	background-color: rgba(220, 220,220, 0.75);
	padding-left: auto;
}
.news {
	padding-left: 30px;
	margin-left: 30px;
	height: 220px;
	width: 800px;
	overflow: auto;
}
.news h1 {
	text-shadow:1px 1px 2px black;
	color: rgb(255, 215, 0);
	padding: 0px 40px;
	border-radius: 20px;
	background-color: rgba(211, 211, 211, 0.3);
	overflow: auto;
}
a {
	font-family: Buxton Sketch;
	display: block;
	width: 200px;
}

a:link{
	text-shadow:1px 1px 2px black;
	text-decoration: inherit;
	color: rgb(0, 206, 209);
}
a:visited {
	color: rgb(0, 206, 209);
}

header {
	font-family: Chiller;
	font-size: 60px;
	color:white;
	height: 100px;
}
.news_read {
	padding: 10px;
	margin: 0px auto;
	border-radius: 30px;
	width: 900px;
	background-color: rgba(205, 201, 201, 0.5);
}
.back {
	padding-left: 400px;
	width: 900px;
}
.error {
	font-size: 30px;
	padding: 10px;
	padding-left:100px;
	margin: 0px auto;
	border-radius: 30px;
	width: 900px;
	background-color: rgba(205, 201, 201, 0.5);
}